.header {
  margin-bottom: 10px;
  color: var(--main-purple);
}

.header-container {
  max-width: var(--container-size);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header-container > h1 {
  text-align: center;
  font-size: 2.6rem;
  margin-top: 15px;
}

.header-container > img {
  width: 190px;
}
